name: 议题测试

on:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test Publish Artifact
        uses: softprops/action-gh-release@v2.5.0
        with:
          # 刚签出的仓库中的 TEST-ARTIFACT
          files: TEST-ARTIFACT
