name: 议题测试

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: 安装 WinGet
        uses: Cyberboss/install-winget@v1

      - name: WinGet 基本信息
        run: winget --info

      - name: 尝试复现
        run: |
          winget install Gyan.FFmpeg -s winget --accept-source-agreements --accept-package-agreements --verbose
          winget list ffmpeg -s winget --verbose
          winget install --id yt-dlp.yt-dlp -s winget --version 2025.04.30 --accept-source-agreements --accept-package-agreements --verbose
          winget update --id yt-dlp.yt-dlp -s winget --accept-source-agreements --accept-package-agreements --verbose
        continue-on-error: true

      #- name: 尝试其他命令
      #  run: |
      #    winget uninstall --id SublimeHQ.SublimeMerge -s winget 
      #    winget uninstall SublimeMerge -s winget 
      #  continue-on-error: true

      # - name: Test - 日志绝对路径
      #   shell: cmd
      #   run: echo %LOCALAPPDATA%\Packages\Microsoft.DesktopAppInstaller_8wekyb3d8bbwe\LocalState\DiagOutputDir

      - name: 上传日志
        uses: actions/upload-artifact@v5
        with:
          name: winget-log
          path: C:\Users\runneradmin\AppData\Local\Packages\Microsoft.DesktopAppInstaller_8wekyb3d8bbwe\LocalState\DiagOutputDir
